{% extends 'base.html' %}

{% block start %}
<style>
    body {
        background-color: #f4f4f4; /* Light gray background color */
        margin: 0;
        padding: 0;
    }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
    {% if user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            You are already logged in. Redirecting to the home page...
        </div>
        {% with "home" as next_path %}
            <meta http-equiv="refresh" content="3;URL='{% url 'home' %}'" />
        {% endwith %}
    {% else %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Welcome To Login Page!</h2>
                <form method="post" enctype="multipart/form-data" action="{% url 'login_page' %}" class="needs-validation"
                    novalidate>
                    {% csrf_token %}
                    {% if messages %}
                        <div class="alert alert-info" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                        <div class="invalid-feedback">
                            Please enter your username.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <div class="invalid-feedback">
                            Please enter your password.
                        </div>
                    </div>
                    <p>Forgot Password? <a href='/forgot_pass/'>Click Here</a></p>
                    <p>Don't have an account? <a href='/register/'>Register</a></p>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}









