{%extends 'base.html'%}
{%block start%}

{%block title%}Doctors' Directory{%endblock%}


<h1>Doctor's Directory</h1>

<h2>Psychologists</h2>
<ul>
{% for psychologist in psychologists %}
    <li>{{ psychologist.name }}</li>
    <ul>
        <li>Authorized ID: {{ psychologist.authorized_id }}</li>
        <li>Qualifications: {{ psychologist.qualifications }}</li>
        <li>Experience: {{ psychologist.experience }} years</li>
        <li>Consultation Days: {{ psychologist.consultation_days }}</li>
        <li>Consultation Time: {{ psychologist.consultation_time }}</li>
        <li>Off Days: {{ psychologist.off_days}}</li>
        <li>Appointment Fee: {{ psychologist.appointment_fees }} taka</li>
    </ul>
{% endfor %}
</ul>

<h2>Psychiatrists</h2>
<ul>
{% for psychiatrist in psychiatrists %}
    <li>{{ psychiatrist.name }}</li>
    <ul>
        <li>Authorized ID: {{ psychiatrist.authorized_id }}</li>
        <li>Qualifications: {{ psychiatrist.qualifications }}</li>
        <li>Experience: {{ psychiatrist.experience }} years</li>
        <li>Consultation Days: {{ psychiatrist.consultation_days }}</li>
        <li>Consultation Time: {{ psychiatrist.consultation_time }}</li>
        <li>Off Days: {{ psychiatrist.off_days}}</li>
        <li>Appointment Fee: {{ psychiatrist.appointment_fees }} taka</li>
    </ul>
{% endfor %}
</ul>

<h2>Emergency Counselors</h2>
<ul>
{% for counselor in counselors %}
    <li>{{ counselor.name }}</li>
    <ul>
        <li>Authorized ID: {{ counselor.authorized_id }}</li>
        <li>Qualifications: {{ counselor.qualifications }}</li>
        <li>Experience: {{ counselor.experience }} years</li>
        <li>Consultation Time: {{ counselor.consultation_time }}</li>
        <li>Appointment Fee: {{ counselor.appointment_fees }} taka</li>
    </ul>
{% endfor %}
</ul>
{% endblock %}