{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/discussion.css' %}" />
  </head>
  <body>
    <section class="background-firstSection">
        <div class="box-main">
            <div class="firsthalf">
                <p class="text-big">SHAHAJJO-Your Mental Health Guide</p>
                <p class="text-small">There is no shame in asking for help. Get connected with people who might be sharing similiar experience alongside you. Join Support Groups:</p>
                <div class="buttons">
                  <a href="https://www.facebook.com"><button class="btn">Facebook </button></a>
                  <a href="https://www.instagram.com"></a><button class="btn">Instagram</button></a>
                  <a href="https://www.discord.com"></a><button class="btn">Discord</button></a>

                </div>

            </div>
        </div>

    </section>

  </body>
</html>