<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Resources</title>
{% load static %}
<link rel="stylesheet" href="{% static 'resources.css' %}">
</head>
<body>
    <a href="#" class="back-button">Back</a>
<div>
<a href="{% url 'books' %}"><button>Books</button></a>
<a href="{% url 'podcasts' %}"><button>Podcasts</button></a>
<a href="{% url 'articles' %}"><button>Articles</button></a>
</div>

</body>
</html>
