.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.top-nav {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 2rem 8rem; /* Increase padding to make it wider */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #da0a0a;
  box-shadow: 0 10px 15px -3px rgba(192, 73, 73, 0.769), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.exit-btn {
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  color: #ffffff;
  background-color: #dc2626;
  margin-right: 2rem; /* Adjust margin to create space between the button and other elements */
  position: absolute;
  top: 0.75rem; /* Position the button 0.75rem from the top */
  right: 2rem; /* Position the button 2rem from the right */
}
.logo {
  display: flex;
  align-items: center;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem 5rem;
  margin-top: 1.25rem;
  width: 100%;
  background-color: #97a0ad;
}

.heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.grid {
  display: flex;
  flex-direction: column; /* Change to column */
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem;
  border-radius: 0.375rem;
  width: calc(100% - 2rem);
  max-width: 500px;
  background-color: #c9efef;
  box-shadow: 0 4px 3px rgba(210, 105, 105, 0.07), 0 2px 2px rgba(0, 0, 0, 0.06);
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chip {
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  color: #6b7280;
  background-color: #f3f4f6;
}

.time-container {
  display: flex;
  margin-left: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.open-time {
  display: flex;
  flex-direction: row; /* Display the phone icon and button in a row */
  align-items: center; /* Align items vertically */
}

.open-time button {
  margin-left: 0.5rem; /* Add some space between the phone icon and the button */
}


.call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 1rem; 
  margin-left:0.5rem;
}
