<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Support Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'support.css' %}">
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <button class="exit-btn">Exit</button>
        </div>
        <div class="main-div">
            <h2 class="heading">Emergency Support Resources</h2>
            <div class="grid">
                {% for resource in support_resources %}
                <div class="card">
                    <div class="card-head">
                        <h3>{{ resource.organization_name }}</h3>
                        <div class="chip">Emergency</div>
                    </div>
                    <p><strong>Helpline Number:</strong> {{ resource.helpline_number }}</p>
                    <p><strong>Email:</strong> {{ resource.email }}</p>
                    <p><strong>Additional Information:</strong> {{ resource.additional_information }}</p>
                    <div class="time-container">
                        <div class="open-time">
                            <div class="chip timing">Open <strong style="color: #00FF00;">24/7</strong></div>
                            <a href="tel:{{ resource.phone_number }}">
                                &#9742; <!-- Phone icon HTML entity -->
                            </a>
                            <button>Call Now</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
